        <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://SERVICENAMESPACE.servicebus.windows.net/;SharedAccessKeyName=Manage;SharedAccessKey=SERVICEKEY"/>

        <add key="EventHubPath" value="EVENTHUBPATH"/>
        <add key="EventHubConsumerGroup" value="CONSUMERGROUP"/>
        <add key="BlobStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ACCOUNTNAME;AccountKey=ACCOUNTKEY"/>
        <add key="LeaseContainerName" value="OPTIONAL_CONTAINER_NAME"/>